#desafio{
    margin: 20px;
    background-color:brown;
    border: 5px dotted blue;
    padding: 20px 30px 10px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    outline-style:dotted;
    outline-color: blue;
    outline-width: 150px;
}

.textodesafio{
    background-color:blanchedalmond;
}